.galleryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 30vh;
  grid-gap: 2vh;
  margin-top: 2vw;
}

@media (max-width: 768px) {
  .galleryGrid {
    grid-auto-rows: 50vh;
  }
}
