.container {
  display: flex;
  flex-direction: row; /* or column */
}

.leftSection {
  flex: 0.65;
}

.rightSection {
  flex: 1;
}

.header {
  font-size: 2em;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* or column */
  }
}
