.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

.search {
  display: inline-block;
  width: 70vw;
  line-height: 3rem;
  padding-left: 2rem;
  font-size: 1.2rem;
}

.search::placeholder {
  vertical-align: middle;
  font-size: 1.2rem;
}

.imageContainer {
  position: relative;
  height: 70vh;
  width: 40vw;
}

.imageDetailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70vh;
  margin-top: 5vh;
  align-items: center;
}

.imageSection {
  width: 45%;
}

.detailsSection {
  width: 55%;
}

.imageTitle {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.imageInfo {
  margin-bottom: 2rem;
}
