html,
body {
  margin: 0;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  letter-spacing: 0.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  margin: 5vh 0 80px;
  display: flex;
  align-items: center;
}

nav .logo {
  margin-right: auto;
  width: 10vw;
}

nav .content {
  display: flex;
  justify-content: center;
}

nav .links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 25vw;
}

nav .links li {
  list-style: none;
}

nav .connect {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  width: 10vw;
}

@media (max-width: 600px) {
  nav {
    position: fixed;
    padding: 10px 25px 25px 25px;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
  }
  nav .links {
    display: none;
  }

  nav .connect {
    display: none;
  }
}

* {
  box-sizing: border-box;
}
