.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  margin-bottom: 100px;
  width: 70%;
  text-align: center;
  font-size: 2rem;
}

.serviceColumns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.service {
  width: 45%;
}
